In [1]:
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [3]:
raw_df = pd.read_csv('personal_transactions.csv')
raw_df

,Date,Description,Amount,Transaction Type,Category,Account Name
0,1/1/2018,Amazon,11.11,debit,Shopping,Platinum Card
1,1/2/2018,Mortgage Payment,1247.44,debit,Mortgage & Rent,Checking
2,1/2/2018,Thai Restaurant,24.22,debit,Restaurants,Silver Card
3,1/3/2018,Credit Card Payment,2298.09,credit,Credit Card Payment,Platinum Card
4,1/4/2018,Netflix,11.76,debit,Movies & DVDs,Platinum Card
...,...,...,...,...,...,...
801,9/27/2019,Biweekly Paycheck,2250.00,credit,Paycheck,Checking
802,9/28/2019,BP,33.46,debit,Gas & Fuel,Platinum Card
803,9/28/2019,Sheetz,4.27,debit,Gas & Fuel,Platinum Card
804,9/30/2019,Starbucks,1.75,debit,Coffee Shops,Platinum Card
805,9/30/2019,Internet Service Provider,75.00,debit,Internet,Checking

### Changing the name of the column to remove spaces between each word

In [4]:
raw_df.rename(columns={'Transaction Type':'Transaction_Type', "Account Name":'Account_Name'}, inplace= True)
raw_df

,Date,Description,Amount,Transaction_Type,Category,Account_Name
0,1/1/2018,Amazon,11.11,debit,Shopping,Platinum Card
1,1/2/2018,Mortgage Payment,1247.44,debit,Mortgage & Rent,Checking
2,1/2/2018,Thai Restaurant,24.22,debit,Restaurants,Silver Card
3,1/3/2018,Credit Card Payment,2298.09,credit,Credit Card Payment,Platinum Card
4,1/4/2018,Netflix,11.76,debit,Movies & DVDs,Platinum Card
...,...,...,...,...,...,...
801,9/27/2019,Biweekly Paycheck,2250.00,credit,Paycheck,Checking
802,9/28/2019,BP,33.46,debit,Gas & Fuel,Platinum Card
803,9/28/2019,Sheetz,4.27,debit,Gas & Fuel,Platinum Card
804,9/30/2019,Starbucks,1.75,debit,Coffee Shops,Platinum Card
805,9/30/2019,Internet Service Provider,75.00,debit,Internet,Checking

### Adding Seasons column

In [5]:
seasons_added_df = raw_df.copy()
for row in range(len(raw_df)):
    #Look at data date format and see if it is '1' or '01'
    if ('4') in raw_df['Date'][row][:2]:
        seasons_added_df.at[row,'Seasons'] = 'Spring'
    if ('5') in raw_df['Date'][row][:2]:
        seasons_added_df.at[row,'Seasons'] = 'Spring'
    if ('6') in raw_df['Date'][row][:2]:
        seasons_added_df.at[row,'Seasons'] = 'Spring'
        
    if ('7') in raw_df['Date'][row][:2]:
        seasons_added_df.at[row,'Seasons'] = 'Summer'
    if ('8') in raw_df['Date'][row][:2]:
        seasons_added_df.at[row,'Seasons'] = 'Summer'
    if ('9') in raw_df['Date'][row][:2]:
        seasons_added_df.at[row,'Seasons'] = 'Summer'
        
    if ('1') in raw_df['Date'][row][:2]:
        seasons_added_df.at[row,'Seasons'] = 'Winter'
    if ('2') in raw_df['Date'][row][:2]:
        seasons_added_df.at[row,'Seasons'] = 'Winter'
    if ('3') in raw_df['Date'][row][:2]:
        seasons_added_df.at[row,'Seasons'] = 'Winter'
        
    if ('10') == raw_df['Date'][row][:2]:
        seasons_added_df.at[row,'Seasons'] = 'Fall'
    if ('11') == raw_df['Date'][row][:2]:
        seasons_added_df.at[row,'Seasons'] = 'Fall'
    if ('12') == raw_df['Date'][row][:2]:
        seasons_added_df.at[row,'Seasons'] = 'Fall'
seasons_added_df

,Date,Description,Amount,Transaction_Type,Category,Account_Name,Seasons
0,1/1/2018,Amazon,11.11,debit,Shopping,Platinum Card,Winter
1,1/2/2018,Mortgage Payment,1247.44,debit,Mortgage & Rent,Checking,Winter
2,1/2/2018,Thai Restaurant,24.22,debit,Restaurants,Silver Card,Winter
3,1/3/2018,Credit Card Payment,2298.09,credit,Credit Card Payment,Platinum Card,Winter
4,1/4/2018,Netflix,11.76,debit,Movies & DVDs,Platinum Card,Winter
...,...,...,...,...,...,...,...
801,9/27/2019,Biweekly Paycheck,2250.00,credit,Paycheck,Checking,Summer
802,9/28/2019,BP,33.46,debit,Gas & Fuel,Platinum Card,Summer
803,9/28/2019,Sheetz,4.27,debit,Gas & Fuel,Platinum Card,Summer
804,9/30/2019,Starbucks,1.75,debit,Coffee Shops,Platinum Card,Summer
805,9/30/2019,Internet Service Provider,75.00,debit,Internet,Checking,Summer

### Dividing the dataset into year 2018 and 2019

In [6]:
year_2018_df = seasons_added_df.copy()
for rows in range(len(year_2018_df)):
    if '2019' in (year_2018_df['Date'][rows]):
        year_2018_df.drop(rows, inplace = True)
year_2018_df

,Date,Description,Amount,Transaction_Type,Category,Account_Name,Seasons
0,1/1/2018,Amazon,11.11,debit,Shopping,Platinum Card,Winter
1,1/2/2018,Mortgage Payment,1247.44,debit,Mortgage & Rent,Checking,Winter
2,1/2/2018,Thai Restaurant,24.22,debit,Restaurants,Silver Card,Winter
3,1/3/2018,Credit Card Payment,2298.09,credit,Credit Card Payment,Platinum Card,Winter
4,1/4/2018,Netflix,11.76,debit,Movies & DVDs,Platinum Card,Winter
...,...,...,...,...,...,...,...
477,12/26/2018,Amazon,44.99,debit,Shopping,Platinum Card,Fall
478,12/28/2018,Brewing Company,12.00,debit,Alcohol & Bars,Silver Card,Fall
479,12/29/2018,Brewing Company,14.00,debit,Alcohol & Bars,Silver Card,Fall
480,12/29/2018,Credit Card Payment,860.05,credit,Credit Card Payment,Platinum Card,Fall
481,12/29/2018,Grocery Store,55.04,debit,Groceries,Silver Card,Fall

In [10]:
year_2019_df = seasons_added_df.copy()
for rows in range(len(year_2019_df)):
    if '2018' in (year_2019_df['Date'][rows]):
        year_2019_df.drop(rows, inplace = True)
        
year_2019_df.reset_index(inplace = True)
year_2019_df.drop(columns= ['index'], inplace = True)
year_2019_df
year_2019_df

,Date,Description,Amount,Transaction_Type,Category,Account_Name,Seasons
0,1/1/2019,Amazon,13.09,debit,Shopping,Platinum Card,Winter
1,1/2/2019,Credit Card Payment,499.60,debit,Credit Card Payment,Checking,Winter
2,1/3/2019,Mortgage Payment,1100.00,debit,Mortgage & Rent,Checking,Winter
3,1/3/2019,Amazon,42.10,debit,Shopping,Platinum Card,Winter
4,1/4/2019,Biweekly Paycheck,2000.00,credit,Paycheck,Checking,Winter
...,...,...,...,...,...,...,...
319,9/27/2019,Biweekly Paycheck,2250.00,credit,Paycheck,Checking,Summer
320,9/28/2019,BP,33.46,debit,Gas & Fuel,Platinum Card,Summer
321,9/28/2019,Sheetz,4.27,debit,Gas & Fuel,Platinum Card,Summer
322,9/30/2019,Starbucks,1.75,debit,Coffee Shops,Platinum Card,Summer
323,9/30/2019,Internet Service Provider,75.00,debit,Internet,Checking,Summer

### Createing its own paycheck dataframe

find the indicies where `Category` is equal to Paycheck

In [11]:
paycheck_condition = seasons_added_df['Category']=='Paycheck'
paycheck_condition

0      False
1      False
2      False
3      False
4      False
       ...
801     True
802    False
803    False
804    False
805    False
Name: Category, Length: 806, dtype: bool

In [12]:
s_added_index = seasons_added_df.index
s_added_index

RangeIndex(start=0, stop=806, step=1)

In [28]:
paycheck_indicies = s_added_index[paycheck_condition]
paycheck_indicies

Int64Index([ 13,  20,  35,  51,  68,  89, 104, 130, 150, 171, 191, 207, 229,
            248, 267, 283, 298, 310, 327, 347, 367, 381, 399, 422, 444, 468,
            486, 501, 510, 529, 545, 563, 576, 595, 610, 629, 643, 662, 679,
            692, 713, 727, 746, 762, 784, 801],
           dtype='int64')

In [30]:
paycheck = paycheck_indicies.tolist()
paycheck

[13,
 20,
 35,
 51,
 68,
 89,
 104,
 130,
 150,
 171,
 191,
 207,
 229,
 248,
 267,
 283,
 298,
 310,
 327,
 347,
 367,
 381,
 399,
 422,
 444,
 468,
 486,
 501,
 510,
 529,
 545,
 563,
 576,
 595,
 610,
 629,
 643,
 662,
 679,
 692,
 713,
 727,
 746,
 762,
 784,
 801]

### Creating Paycheck only dataframe

In [32]:
paycheck_df = pd.DataFrame()
for paycheck_index in paycheck:
    paycheck_df =  paycheck_df.append(seasons_added_df.loc[paycheck_index])

#Resetting index
paycheck_df.reset_index(inplace = True)
paycheck_df.drop(columns= ['index'], inplace = True)
paycheck_df

,Date,Description,Amount,Transaction_Type,Category,Account_Name,Seasons
0,1/12/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Winter
1,1/19/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Winter
2,2/2/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Winter
3,2/16/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Winter
4,3/2/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Winter
5,3/16/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Winter
6,3/30/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Winter
7,4/13/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Spring
8,4/27/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Spring
9,5/11/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Spring
10,5/25/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Spring
11,6/8/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Spring
12,6/22/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Spring
13,7/6/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Summer
14,7/20/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Summer
15,8/3/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Summer
16,8/17/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Summer
17,8/31/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Summer
18,9/14/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Summer
19,9/28/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Summer
20,10/12/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Fall
21,10/26/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Fall
22,11/9/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Fall
23,11/23/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Fall
24,12/7/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Fall
25,12/21/2018,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Fall
26,1/4/2019,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Winter
27,1/18/2019,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Winter
28,2/1/2019,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Winter
29,2/15/2019,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Winter
30,3/1/2019,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Winter
31,3/15/2019,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Winter
32,3/29/2019,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Winter
33,4/12/2019,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Spring
34,4/26/2019,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Spring
35,5/10/2019,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Spring
36,5/24/2019,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Spring
37,6/7/2019,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Spring
38,6/21/2019,Biweekly Paycheck,2000.0,credit,Paycheck,Checking,Spring
39,7/5/2019,Biweekly Paycheck,2250.0,credit,Paycheck,Checking,Summer
40,7/19/2019,Biweekly Paycheck,2250.0,credit,Paycheck,Checking,Summer
41,8/2/2019,Biweekly Paycheck,2250.0,credit,Paycheck,Checking,Summer
42,8/16/2019,Biweekly Paycheck,2250.0,credit,Paycheck,Checking,Summer
43,8/30/2019,Biweekly Paycheck,2250.0,credit,Paycheck,Checking,Summer
44,9/13/2019,Biweekly Paycheck,2250.0,credit,Paycheck,Checking,Summer
45,9/27/2019,Biweekly Paycheck,2250.0,credit,Paycheck,Checking,Summer

### Creating its own payment dataframe
- Same process as creating paycheck dataframe

In [33]:
payment_condition = seasons_added_df["Category"]=="Credit Card Payment"
s_added_index = seasons_added_df.index
payment_indicies = s_added_index[payment_condition]
payment_indicies = payment_indicies.tolist()
payment_indicies

[3,
 22,
 23,
 24,
 26,
 38,
 39,
 40,
 58,
 59,
 60,
 64,
 74,
 75,
 96,
 97,
 111,
 112,
 117,
 118,
 146,
 147,
 148,
 149,
 165,
 166,
 182,
 185,
 188,
 199,
 200,
 202,
 215,
 216,
 226,
 228,
 232,
 233,
 249,
 250,
 251,
 253,
 264,
 265,
 266,
 270,
 279,
 291,
 292,
 296,
 302,
 303,
 304,
 305,
 314,
 315,
 326,
 343,
 344,
 345,
 351,
 354,
 355,
 374,
 375,
 376,
 389,
 390,
 419,
 427,
 428,
 429,
 457,
 458,
 465,
 467,
 480,
 483,
 489,
 490,
 491,
 502,
 503,
 508,
 521,
 526,
 527,
 534,
 537,
 539,
 551,
 558,
 559,
 560,
 561,
 578,
 579,
 580,
 588,
 602,
 603,
 604,
 612,
 614,
 619,
 630,
 636,
 639,
 641,
 648,
 653,
 661,
 666,
 667,
 675,
 677,
 678,
 693,
 697,
 698,
 699,
 708,
 712,
 715,
 717,
 733,
 734,
 735,
 736,
 744,
 748,
 752,
 770,
 771,
 772,
 780,
 782,
 787,
 788,
 790,
 793,
 796,
 798]

In [34]:
credit_payment_df = pd.DataFrame()
for payment_index in payment_indicies:
    credit_payment_df =  credit_payment_df.append(seasons_added_df.loc[payment_index])

#Resetting index
credit_payment_df.reset_index(inplace = True)
credit_payment_df.drop(columns= ['index'], inplace = True)
credit_payment_df

,Date,Description,Amount,Transaction_Type,Category,Account_Name,Seasons
0,1/3/2018,Credit Card Payment,2298.09,credit,Credit Card Payment,Platinum Card,Winter
1,1/22/2018,Credit Card Payment,554.99,credit,Credit Card Payment,Platinum Card,Winter
2,1/22/2018,Credit Card Payment,309.81,credit,Credit Card Payment,Silver Card,Winter
3,1/22/2018,Credit Card Payment,554.99,debit,Credit Card Payment,Checking,Winter
4,1/23/2018,Credit Card Payment,309.81,debit,Credit Card Payment,Checking,Winter
...,...,...,...,...,...,...,...
138,9/16/2019,Credit Card Payment,90.57,credit,Credit Card Payment,Silver Card,Summer
139,9/17/2019,Credit Card Payment,186.13,credit,Credit Card Payment,Platinum Card,Summer
140,9/18/2019,Credit Card Payment,1606.46,debit,Credit Card Payment,Checking,Summer
141,9/20/2019,Credit Card Payment,9.43,credit,Credit Card Payment,Silver Card,Summer
142,9/23/2019,Credit Card Payment,9.43,debit,Credit Card Payment,Checking,Summer

### Removing `Credit Card Payment` and `Paycheck` from `Category` column

In [35]:
spending_transaction_df = seasons_added_df.copy()
for payment in payment_indicies:
    spending_transaction_df = spending_transaction_df.drop([payment])
for deposit in paycheck_indicies:
    spending_transaction_df = spending_transaction_df.drop([deposit])
spending_transaction_df = spending_transaction_df.reset_index(drop=True)
spending_transaction_df

,Date,Description,Amount,Transaction_Type,Category,Account_Name,Seasons
0,1/1/2018,Amazon,11.11,debit,Shopping,Platinum Card,Winter
1,1/2/2018,Mortgage Payment,1247.44,debit,Mortgage & Rent,Checking,Winter
2,1/2/2018,Thai Restaurant,24.22,debit,Restaurants,Silver Card,Winter
3,1/4/2018,Netflix,11.76,debit,Movies & DVDs,Platinum Card,Winter
4,1/5/2018,American Tavern,25.85,debit,Restaurants,Silver Card,Winter
...,...,...,...,...,...,...,...
612,9/23/2019,Amazon,24.63,debit,Shopping,Platinum Card,Summer
613,9/28/2019,BP,33.46,debit,Gas & Fuel,Platinum Card,Summer
614,9/28/2019,Sheetz,4.27,debit,Gas & Fuel,Platinum Card,Summer
615,9/30/2019,Starbucks,1.75,debit,Coffee Shops,Platinum Card,Summer
616,9/30/2019,Internet Service Provider,75.00,debit,Internet,Checking,Summer

### checking if paycheck and credit card payment has been removed from the dataframe

In [36]:
spending_transaction_df.loc[spending_transaction_df['Category']=='Paycheck']

Empty DataFrame
Columns: [Date, Description, Amount, Transaction_Type, Category, Account_Name, Seasons]
Index: []

In [37]:
spending_transaction_df.loc[spending_transaction_df['Category'] == 'Credit Card Payment']

Empty DataFrame
Columns: [Date, Description, Amount, Transaction_Type, Category, Account_Name, Seasons]
Index: []

In [38]:
spending_transaction_df.to_csv('spending_transaction.csv',index=False)

In [39]:
seasons_added_df.to_csv('seasons_added.csv',index=False)